<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Now I'm Truly Paranormal Gavin!</title>
<% include ../partials/style.ejs %>
</head>
<body>
    <div>
        Hey guys! Guess who ended up lost on his way to a gas station? LOL<br />
        <br />
        So it turns out that that Gary guy was TOTALLY crazy, I think? It’s hard for me to remember. I remember getting something literally stuck in my head, then I remember getting married, and now I’m raw code? What gives? LOL<br />
        <br />
        Time and space seem to work really weird here too. I'm able to see other dimensions! And I don't know how long I've been here; it could be as short as <%=ghostIndex;%> seconds; it could be as long as <%=ghostLength;%> decades. It's like every time I wake up, things change!<br />
        <br />
        So I'm going to explore some folders, see if I can find anything that can get me out. I could really go for a hamburger right now. <br />
        <br />
        <div style="font-size: 2em;">
            <%-ghostPiece;%>
        </div>
        Wait who put that there? I give it a <%=ghostIndex;%> out of <%=ghostLength;%>, art-wise.
    </div>
</body>
</html>